.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.signup-header .partner {
  font-size: 24px;
  color: #0056b3;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.tab {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tablinks {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.input-row input {
  width: 48%;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form button {
  padding: 10px 20px;
  background-color: #0B2CA3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0B2CA3;
}